<!DOCTYPE html>
<html lang="en">


<head>

<title>Mission to Mars</title>

<link rel="stylesheet" href="styles.css">

</head>

<div class="container">
  <div class="jumbotron">
    <h1>Mission to Mars</h1>

    <p>

      <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
    </p>

<div class="container-fluid">
  <div class= "row">
    <div class="col-md-12">
      <h3>Latest Mars News</h3>
      <h4>{{mars.news_title}}</h4>
      <p>{{mars.news_p}}</p>
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h3> This is the current featured image from JPL.</h3>
      <img src="{{mars.featured_image}}" class="img-responsive" alt="responsive-image" />
    </div>

    <div class= "col-md-4">
      <div class="row weather-box">
        <div class="col-md-12">
          <h4>Current Mars Weather</h4>
          <p>{{mars.mars_weather}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <h3>Mars Facts</h3>
      {{mars.html_table | safe }}
    </div>

  </div>
</div>

<div class= "container-fluid">
  <div class="jumbotron"
  <h3>Mars Hemispheres</h3>


  <div class="row">
    <div class="col-md-6">
      <img src="{{mars.hemisphere_image_urls[1]}}" alt= "Valles Marineris" style="width:400px; height:400px;border:0;">
      <h2>{{mars.hemisphere_image_urls[0]}}</h2>
    </div>

    <div class="col-md-6">
      <img src="{{mars.hemisphere_image_urls[3]}}" alt= "Cerberus Hemisphere" style="width:400px; height:400px;border:0;">
      <h2>{{mars.hemisphere_image_urls[2]}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img src="{{mars.hemisphere_image_urls[5]}}" alt= "Schiaparelli Hemisphere" style="width:400px; height:400px;border:0;">
      <h2>{{mars.hemisphere_image_urls[4]}}</h2>
    </div>

    <div class="col-md-6">
      <img src="{{mars.hemisphere_image_urls[7]}}" alt= "Syrtis Major Hemisphere" style="width:400px; height:400px;border:0;">
      <h2>{{mars.hemisphere_image_urls[6]}}</h2>
    </div>
  </div>
</div>
</div>
</div>

</body>
</html>


























</html>
